    <footer class="blog-footer">
      <p>Association for Computing Machinery<small>(ACM)</small><a href="https://acm.org/"> ACM OFFICIAL WEBSITE</a> by <a href="https://ncuindia.edu">NCU</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
