<div class="container">
	<h4 class="random">
		Gallery
	</h4>

	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
	<img src="https://farm8.staticflickr.com/7529/16062391607_bafa9d1fc3_b.jpg" class="img-align">
</div>