<br>
<div class="container">	
	<h2 class="center-text">ACM STUDENT CHAPTER</h2>
	<h2 class="center-text">THE NORTHCAP UNIVERSITY</h2>
</div>


<div class="container" id="for_device" style="width: 100%; margin-top: 4%;">
    <div class="row ">

        <div class="col-md-6" style="padding: 10px;"  id="imager" align="center">
<br>
	    	<a href="https://placeholder.com"><img src="http://via.placeholder.com/550x350"></a>
        </div>
        <div class="col-md-6  ">

            <br>
            <a target="_blank" href="https://www.acm.org"><h3>What is ACM?</h3></a>
            <p class="text-justify">ACM brings together
                computing educators, researchers, and professionals to inspire dialogue, share resources, and address
                the
                field's challenges. ACM strengthens the profession's collective voice through strong leadership,
                promotion
                of the highest standards, and recognition of technical excellence. ACM provides opportunities for
                lifelong
                learning, career development, and professional networking.
            </p>
            <h3>The NorthCap University</h3>
            <p class="text-justify">is a multi-disciplinary University, offering various
                Undergraduate and Postgraduate courses in Engineering, Law and Management. As per National Institutional
                Ranking Framework (NIRF), introduced by HRD Ministry, the University has been ranked 82nd among all the
                universities in India. Also it is the only private university in Delhi NCR to secure a rank in top 100
                universities, across the country.</p>

        </div>
    </div>
    <div class="row">

        <div class="col-md-6">
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h3>What is our aim?</h3>
            <p class="text-justify">Through this student chapter, we hope to encourage students to diligently pursue
                their interest in computer technologies and contribute towards the revolution our world is moving
                towards.
                With the help of our faculties, along with support from ACM, we hope to create lucrative and proficient
                computer engineers.
            </p>
        </div>
    </div>
</div>
